<style media="screen">
  h2 {
    font-family: georgia;
  }
</style>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#todas" id="tab1">Perguntas</a></li>
  <li role="presentation"><a href="#minhas" id="tab2">Minhas Perguntas</a></li>
  <li role="presentation"><a href="#respostas" id="tab3">Minhas Respostas</a></li>
  <%= link_to 'Nova Pergunta', new_question_path, class: "btn btn-primary" %>
</ul>
<div class="tab-content fonted-alt">
  <div role="tabpanel" class="tab-pane fade in active" id="todas">
    <h2>Perguntas para você</h2>
    <hr>
    <% @questions.each do |question| %>
      <h3><b><%= question.title %></b></h3>
      <div class="row">
        <%= link_to 'Escreva uma resposta!', question, class: "btn btn-primary" %>
        <h4 class="col-xs-4">Perguntador: <%= question.user.name %></h4>
      </div>
      <hr>
    <% end %>
    <% if @questions.empty? %>
      <h3>Nenhuma pergunta encontrada</h3>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="minhas">
    <h2>Suas Perguntas</h2>
    <hr>
    <% @my_questions.each do |question| %>
      <h3><b><%= question.title %></b></h3>
      <br>
      <div class="row">
        <div class="col-md-8">
          <%= link_to 'Show', question, class: "btn btn-default" %>
          <%= link_to 'Edit', edit_question_path(question), class: "btn btn-default" %>
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        </div>
      </div>
      <hr>
    <% end %>
    <% if @my_questions.empty? %>
      <h3>Você não fez nenhuma pergunta</h3>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="respostas">
    <h2>Suas Respostas</h2>
    <% @answers.each do |answer| %>
      <div class="row">
        <h4 class="col-xs-4"><%= answer.body %></h4>
        <%= link_to 'Ver', answer.question, class: "btn btn-default" %>
      </div>
      <hr>
    <% end %>
    <% if @answers.empty? %>
      <h3>Você não respondeu nenhum pergunta</h3>
    <% end %>
  </div>

</div>

<script>
  $('#tab1').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $('#tab2').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $('#tab3').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
