<%= render 'alert' %>

<h1 class="text-center fonted-main"><%= @question.title %>?</h1>
<h4 class="fonted-alt">
  <strong>Detalhes:</strong>
  <%= @question.body %>
</h4>

<h4 class="fonted-alt">
  <strong>Perguntador:</strong>
  <%= @question.user.name %>
</h4>
<% if @question.user == current_user %>
  <%= link_to 'Editar', edit_question_path(@question), class: "btn btn-default" %>
<% end %>

<% if @question.user_id == current_user.id %>
  <h3><strong>Respostas</strong></h3>
  <% @question.answers.each do |answer| %>
  <h3>
    <p><i>Usuário: </i><%= answer.user.name %></p>
    <% if answer.rating %>
      <p><i>Nota:</i> <%= answer.rating %></p>
    <% end %>
  </h3>
  <p>
    <%= answer.body %>
  </p>
  <div class="row col-md-6">
    <%= form_tag("/questions/#{@question.id}/answers/#{answer.id}", method: "patch") do %>
    <div class="form-group">
      <label class="sr-only" for="exampleInputAmount">Nota</label>
      <div class="input-group">
        <input type="tel" class="form-control" id="rating" name="rating" placeholder="Nota">
        <div class="input-group-addon">%</div>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <%= check_box_tag(:best, true, answer.best) %> Melhor resposta?
      </label>
    </div>
    <%= submit_tag("Avaliar", class: "btn btn-default col-xs-4") %>
    <% end %>
  </div>
  <% end %>
  <% else %>
  <% if @myanswer %>
    <% rating = @myanswer.rating %>
    <% body = @myanswer.body %>
  <% end %>
  <hr>
  <h2 class="fonted-main">Sua reposta:</h2>
  <% if flash[:notice] %>
    <p id="flash-success"><%= flash[:notice] %></p>
  <% end %>
  <p class="fonted-alt"><%= rating %></p>
  <p class="fonted-alt"><%= body %></p>
  <%= form_for([@question, @answer]) do |f| %>
    <p>
      <%= f.text_area :body, :value => body, class: "form-control" %>
    </p>
    <p>
      <%= f.submit "Submeter", class: "btn btn-default" %>
    </p>
  <% end %>
<% end %>
