<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<%= form_tag({:action => 'login'}, {:class => 'form-signin text-left'}) do %>
  <div class="form-group">
    <label for="email">Endereço de email</label>
    <%= text_field_tag "email", nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="password">Senha</label>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>
  <%= submit_tag("Entre", class: "btn btn-default") %>
  <br>
  <br>
  <p>Ou</p>
  <%= link_to "Inscreva-se agora!", {controller: 'users', action: 'new'}, class: "btn btn-primary" %>
<% end %>
