<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :confirme_seu_email %><br>
    <%= f.email_field :email_confirmation %>
  </div>
  <div class="field">
    <%= f.label :sobre_mim%><br>
    <%= f.text_field :about_me %>
  </div>
  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirme_sua_senha %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
