<%= form_for(@user, html: {class: "col-md-9 fonted-alt"}) do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger" role="alert">
      <h2 class="error-header"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= f.label :nome, class: "control-label" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sobre_mim, class: "control-label" %><br>
    <%= f.text_area :about_me, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :avatar, class: "control-label" %><br>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "control-label" %><br>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :confirme_seu_email, class: "control-label" %><br>
    <%= f.email_field :email_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :senha, class: "control-label" %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :confirme_sua_senha, class: "control-label" %><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <%= f.submit "Submeter", :class => "btn btn-default" %>
<% end %>
