<p id="notice"><%= notice %></p>
<h1 class="fonted-main">Usuários</h1>
<%= render 'search' %>

<% @users.each do |user| %>
  <div class="row fonted-alt">
    <img src="<%=user.avatar.url(:thumb)%>" alt="" class="img-responsive col-xs-2">
    <h3 class="col-xs-2"><%= user.name %></h3>
    <span class="col-xs-4"></span>
    <br>
    <%= link_to 'Show', user, class: "btn btn-default col-xs-4 pull-right" %>
  </div>
  <hr>
<% end %>
