<p id="notice"><%= notice %></p>

<%= render 'alert' %>
<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Sobre:</strong>
  <%= @user.about_me %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pontuação Média:</strong>
  <%= @user.score %>
</p>

<p>
  <strong>Número de Respostas:</strong>
  <%= @user.number_of_answers %>
</p>

<% if @user == current_user %>
  <%= link_to 'Editar', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Voltar', :back %>
