<p id="notice"><%= notice %></p>
<%= flash[:alert] %>
<div class="row fonted-alt">
  <div class="col-xs-12 col-sm-8">
    <h2 class="fonted-main"><%= @user.name %></h2>
    <p><strong>Email: </strong><%= @user.email %></p>
    <% if @user.about_me.length > 0 %>
      <p><strong>Sobre: </strong> <%= @user.about_me %></p>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <img src="<%=@user.avatar.url%>" alt="" class="center-block img-circle img-responsive">
  </div><!--/col-->
</div><!--/row-->

<div class="row fonted-alt">
  <div class="col-xs-4 col-sm-4">
    <h2><strong> <%= @user.number_of_answers %> </strong></h2>
    <p><small>Respostas</small></p>
  </div><!--/col-->
  <div class="col-xs-4 col-sm-4">
    <h2><strong> <%= @user.best_answers %> </strong></h2>
    <p><small>Melhores Respostas</small></p>
  </div><!--/col-->
  <div class="col-xs-4 col-sm-4">
    <% if @user.score == nil %>
      <h2><strong>Nenhuma Avaliação</strong></h2>
    <% else %>
      <h2><strong><%= @user.score %></strong></h2>
    <% end %>
    <p><small>Pontuação Média</small></p>
  </div><!--/col-->
</div><!--/row-->

<% if @user == current_user %>
<%= link_to 'Editar', edit_user_path(@user), class: "btn btn-default" %>
<% end %>
