<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <title>Puzzle USP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <% if current_user %>
          <a class="navbar-brand" href="/questions">Puzzle USP</a>
        <% else %>
          <a class="navbar-brand" href="/">Puzzle USP</a>
        <% end %>

      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= link_to 'Perguntas', questions_path %></li>
            <li><%= link_to 'Usuários', users_path %></li>
            <li><%= link_to 'Perfil', user_path(current_user) %></li>
            <li><%= link_to "Quem Somos", about_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to "Sair", logout_path, method: "delete" %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <%= yield %>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="navbar navbar-fixed-bottom">
            <div class="col-lg-12 text-center">
              <br>
              <p class="copyright text-muted small">Copyright &copy; Puzzle USP 2015. All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
